<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

    <title><%= content_for?(:title) ? yield(:title) : 'Bet App' %></title>

  </head>

  <body>
  <div id="wrapper">

    <% if admin_signed_in? %>
      <!--Sidenav-->
      <%= render 'admin/navs/sidenav' %>
      <!--Sidenav end-->
    <% end %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <% if admin_signed_in? %>
          <!-- Topbar-->
          <%= render 'admin/navs/topbar' %>
          <!-- End of Topbar-->
        <% end %>
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <%= render partial: 'layouts/flash_messages' %>
          <%= yield %>
          <!-- Scroll to Top Button-->
          <a class="scroll-to-top rounded" onclick="scrollToTop()">
            <i class="fas fa-angle-up"></i>
          </a>
        </div>
        <!-- container-fluid -->
      </div>
      <!-- End of Main Content -->
      <!-- Footer content -->
      <footer class="footer">
        <%= render partial: 'admin/navs/footer' %>
      </footer>
      <!-- Footer content -->
      <!-- Logout modal-->
      <%= render partial: 'layouts/logout_modal' %>
      <!--End of Logout-->
    </div>
    <!-- End of Content Wrapper -->
  </div>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
