<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <%= link_to admin_root_path, class: 'sidebar-brand d-flex align-items-center justify-content-center' do %>
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-lightbulb"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Betting Tips</div>
  <% end %>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item active">
    <%= link_to admin_root_path, class: 'nav-link' do%>
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to 'Transactions', class:'nav-link collapsed', data: {toggle: 'collapse', target: '#collapseTransactions'}, aria: {expanded: 'true', controls: 'collapsePages'} do %>
      <i class="fas fa-fw fa-clipboard-list"></i> <span>Transactions</span>
    <% end %>
    <div id="collapseTransactions" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner">
        <%= link_to admin_mpesa_transactions_path, class: 'nav-link collapse-item' do %>
          <span>Scheduled Transactions</span>
        <% end %>

        <%= link_to admin_pending_transactions_path, class: 'nav-link collapse-item' do %>
          <span>Pending Transactions</span>
        <% end %>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <%= link_to 'Tips', class: 'nav-link collapsed',  data: {toggle: 'collapse', target: '#collapseTips'}, aria: {expanded: 'true', controls: 'collapsePages'} do%>
      <i class="fas fa-fw fa-lightbulb"></i><span>Tips</span>
    <% end %>
    <div id="collapseTips" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner">
        <%= link_to admin_tips_path, class: 'nav-link collapse-item' do %>
          <span>Tips</span>
        <% end %>

        <%= link_to new_admin_tip_path, class: 'nav-link collapse-item' do %>
          <span>Create Tip</span>
        <% end %>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <%= link_to 'Campaign Messages', class:'nav-link collapsed', data: {toggle: 'collapse', target: '#collapsePages'}, aria: {expanded: 'true', controls: 'collapsePages'} do %>
      <i class="fas fa-fw fa-comment-alt"></i> <span>Campaign Messages</span>
    <% end %>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner">
        <%= link_to admin_marketing_campaigns_path, class: 'nav-link collapse-item' do %>
          <span>My Campaigns</span>
        <% end %>

        <%= link_to new_admin_marketing_campaign_path, class: 'nav-link collapse-item' do %>
          <span>Create Campaign</span>
        <% end %>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>