<%= form_for [:admin, @marketing_campaign], action: :post do |campaign| %>
  <%= render partial: 'layouts/flash_messages' %>

  <div class="form-group mb-3">
    <%= campaign.label :message_recipient, 'Recipient (+254)701245678' %>
    <%= campaign.text_field :message_recipient, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= campaign.label :message_body, 'Message' %>
    <%= campaign.text_area :message_body, class: 'form-control', rows: '5' %>
  </div>

  <div class="actions">
    <%= campaign.submit 'Send',  class: 'btn btn-primary'  %>
  </div>
<% end %>
