<%= form_for [:admin, @marketing_campaign], action: :post do |campaign| %>

  <div class="form-group mb-3">
    <%= campaign.label :message_body, 'Message' %>
    <%= campaign.text_area :message_body, class: 'form-control', rows: '5', required: true %>
  </div>

  <div class="form-group">
    <%= campaign.label :recipients_file, 'Upload recipients' %>
    <%= campaign.file_field :recipients_file, allow: 'text/csv', required: true%>
  </div>

  <div class="actions">
    <%= campaign.submit 'Send',  class: 'btn btn-primary'  %>
  </div>
<% end %>
