<%= render partial: 'layouts/flash_messages' %>

<div class="row">
  <div class="col-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Marketing Campaigns</h6>
        <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle" type="button" aria-expanded="false" data-placement="left" title="Actions">
          <i class="fa fa-fw fa-cog"></i> &nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li style="padding-top: 4px; padding-left: 7px">
            <a>Print Transactions</a>
          </li>
        </ul>
      </div>

      <div class="card-body">
        <div class="x_content"><br />
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-20">Campaign ID</label>
            <%= @marketing_campaign.id %>
          </div><br>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-20">Message</label>
            <%= @marketing_campaign.message_body %>
          </div><br>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-20">Recipient</label>
            <%= @marketing_campaign.message_recipient %>
          </div><br>
          <%= link_to 'Edit', edit_admin_marketing_campaign_path(@marketing_campaign), class: 'btn btn-primary', method: :post %>
          <%= link_to 'Back', admin_marketing_campaigns_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
