<%= render 'layouts/flash_messages' %>
<%= form_with(model: admin_tip, local: true) do |tip_form| %>
  <div class="form-group mb-3">
    <%= tip_form.label 'Select a package' %>
    <%= tip_form.select :tip_package, %w(Regular Premium Jackpot), {}, class: 'form-control', required:true%>
  </div>

  <div class="form-group mb-3">
    <%= tip_form.label :tip_date, 'Message date' %>
    <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
      <%= tip_form.text_field(:tip_date,
                          value: tip_form.object.tip_date ? tip_form.object.tip_date.strftime('%m/%d/%y') : nil,
                          class: "form-control datetimepicker-input", data: {target:"#datetimepicker4"}, required:true)%>
      <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
        <div class="input-group-text"><span class="fas fa-calendar-alt"></span></div>
      </div>
    </div>
  </div>

  <div class="form-group mb-3">
    <%= tip_form.label 'Message' %>
    <%= tip_form.text_area :tip_content, class: 'form-control', rows: '5' %>
  </div>
  <div class="actions">
    <%= tip_form.submit  class: 'btn btn-primary'  %>
  </div>
<% end %>