<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <%= link_to 'Dashboard', admin_root_path %>
          </li>
          <li class="breadcrumb-item active">My tips</li>
        </ol>
      </div>
      <h4 class="page-title">Tips</h4>
    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <!-- Message Stats -->
  <div class="col-xl-6 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Tip Tips</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-area" data-chart-information="<%= @tip_count_by_month %>">
          <canvas id="tipsAreaChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!--Message Stats-->
  <div class="col-xl-6 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Cm-0 font-weight-bold text-primaryard Header -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Tip Stats</h6>
      </div><!-- Card Body -->
      <div class="card-body">
        <div class="row">
          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-75">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      Regular Tips
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <%= @regular_count %>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comment-alt fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-75">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      Premium Tips
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <%= @premium_count %>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comment fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-75">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      Jackpot Tips
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <%= @jackpot_count %>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-trophy fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-success shadow h-75">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      Total Tips Created
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                       <%= @total_tip_count %>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-trophy fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- container-fluid -->
</div>

<div class="row">
  <div class="col-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Tips Data Table</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="tipsTable" class="table table-striped w-100" data-source="<%= admin_tips_path(format: :json) %>">
            <thead>
              <tr>
                <th>ID</th>
                <th class="w-25">Message</th>
                <th>Package</th>
                <th>Sender Account</th>
                <th>Expiry</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

